<div class="card">
    <div class="cardHeader">
        <h2 class="cardName">`` name ``</h3>
            <div class="cardIconTwo"></div>
        <h3 class="cardRole">Engineer</h3>
    </div>

    <div class="cardBody">
        <div class="sectionOne">
            ID: `` id ``
        </div>

        <a class="sectionTwo" style="text-decoration: none; border: none;" href="mailto:`` email ``">
            Email: `` email ``
        </a>

        <div class="sectionThree">
            GitHub: `` github ``
        </div>
    </div>
</div>