<div class="card">
    <div class="cardHeader">
        <h2 class="cardName">`` name ``</h3>
            <div class="cardIconOne"></div>
        <h3 class="cardRole">Manager</h3>
    </div>

    <div class="cardBody">
        <div class="sectionOne">
            ID: `` id ``
        </div>

        <a class="sectionTwo" style="text-decoration: none; border: none;" href="mailto:`` email ``">
            Email: `` email ``
        </a>

        <div class="sectionThree">
            Office number: `` officeNumber ``
        </div>
    </div>
</div>